body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  background: radial-gradient(
        circle,
        transparent 20%,
        #f1e7e7 20%,
        #f1e7e7 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 20px 20px,
    radial-gradient(
        circle,
        transparent 20%,
        #f1e7e7 20%,
        #f1e7e7 80%,
        transparent 80%,
        transparent
      )
      10px 10px / 20px 20px,
    linear-gradient(#7d7d7d 1px, transparent 1px) 0px -0.5px / 10px 10px,
    linear-gradient(90deg, #7d7d7d 1px, #f1e7e7 1px) -0.5px 0px / 10px 10px #f1e7e7;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
  background-color: #f1e7e7;
}

.game-container {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #885f50;
  color: #fff;
  animation: fadeIn 2s ease forwards;
}

.choices {
  margin: 20px 0;
}

.choice {
  font-size: 1.2rem;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: burlywood;
}

.result {
  margin-top: 20px;
}

.result p {
  font-size: 1.2rem;
  padding: 5px 0;
  margin: 5px 0;
}
@keyframes fadeIn {
  from  {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
